---
tags:
  - Readed
---
# 标题::Verification of Energetic-Particle-Induced Geodesic Acoustic Mode in Gyrokinetic Particle Simulations

## 1.Abstract&Info
### 1.1 Abstract
The energetic-particle-induced geodesic acoustic mode (EGAM) is studied using gyrokinetic particle simulations in tokamak plasmas. In our simulations, exponentially growing EGAMs are excited by energetic particles with a slowing-down distribution. The frequencies of EGAMs are always below the frequencies of GAMs, which is due to the non-perturbative contribution of energetic particles (EPs). The mode structures of EGAMs are similar to the corresponding mode structures of GAMs. Our gyrokinetic simulations show that a high EP density can enhance the EGAM growth rate, due to high EP free energy, and that EPs' temperature and the pitch angle of the distribution modify the EGAM frequency/growth rate by means of the resonance condition. Kinetic effects of the thermal electrons barely change the EGAM frequency, and have a weak damping effect on the EGAM. Benchmarks between the gyrokinetic particle simulations and a local EGAM dispersion relation exhibit good agreement in terms of EGAM frequency and growth rate.

### 1.2 Info
**FirstAuthor**:: Chen, Yang 
**Author**:: Zhang, Wenlu 
**Author**:: Bao, Jian 
**Author**:: Lin, Zhihong 
**Author**:: Dong, Chao 
**Author**:: Cao, Jintao 
**Author**:: Li, Ding 
~
**Date**:: 2020
**DOI**: 10.1088/0256-307X/37/9/095201
**Publication**: Chinese Physics Letters
**PDF**: [Chen 等 - 2020 - Verification of Energetic-Particle-Induced Geodesi.pdf](file://E:\Zotero\storage\22GBY4JG\Chen%20等%20-%202020%20-%20Verification%20of%20Energetic-Particle-Induced%20Geodesi.pdf)
**Zotero**: [Chen 等 - 2020 - Verification of Energetic-Particle-Induced Geodesi.pdf](zotero://select/library/items/22GBY4JG)


## 2. Annotation%% begin annotations %%


### Imported: 2024-02-21 4:35 下午


<mark style="background-color: #2ea8e5">Quote</mark>
>A GAM is predominantly an electrostatic mode with a dominant 𝑛/𝑚 = 0/0 electrostatic potential perturbation and a dominant 𝑛/𝑚 = 0/1 density perturbation,[17,18] where 𝑛/𝑚 are the toroidal/poloidal mode numbers, respectively. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=2&annotation=SBHXHM6A)

标注：

<mark style="background-color: #2ea8e5">Quote</mark>
>The EGAM was first observed in a DIII–D experiment,[26] where it caused a loss of beam ions. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=2&annotation=MIJYEJY9)

标注：

<mark style="background-color: #2ea8e5">Quote</mark>
>as well as energetic-electron-driven 𝛽induced Alfvén eigenmodes (e-BAE). [jump to](zotero://open-pdf/library/items/22GBY4JG?page=3&annotation=3CLBLMWU)

标注：

<mark style="background-color: #a28ae5">Quote</mark>
>In our simulations, the thermal ions are described by nonlinear gyrokinetic equations.[49] The thermal electrons are described by an electrostatic version of the fluid-kinetic hybrid model,[50−52] in which the electrons’ response is expanded into a lowest-order adiabatic element and a high-order non-adiabatic kinetic perturbation element. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=3&annotation=R5MNMPTL)

标注：

<mark style="background-color: #a28ae5">Quote</mark>
>The thermal electron density is 𝑛e = 7.9 × 1013 cm−3. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=3&annotation=TLQCEMSJ)

标注：

<mark style="background-color: #2ea8e5">Quote</mark>
>We use a constant 𝑞 = 4 profile for simplicity, since magnetic shear has little effect on the GAM’s frequency and damping rate. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=3&annotation=ER6RFRWS)

标注：

<mark style="background-color: #a28ae5">Quote</mark>
>A toroidal/poloidal filter is adopted to preserve only the 𝑛/𝑚 = 0/(0, 1, 2) harmonics, so as to avoid highfrequency noise. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=3&annotation=9X7U6SNX)

标注：

<mark style="background-color: #a28ae5">Quote</mark>
>The time step is ∆𝑡 = 0.02𝑅0/𝐶s, where 𝐶s = √︀𝑇e/𝑚i is the sound speed. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=3&annotation=DTC38ZN8)

标注：

<mark style="background-color: #2ea8e5">Quote</mark>
>making sure that the grid size is on the same order as the thermal ions’ gyroradius in order to obtain better simulation properties in particle-in-cell simulations. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=3&annotation=CZALWFAD)

标注：

<mark style="background-color: #a28ae5">Quote</mark>
>We first initialize a **flux-surface-averaged ion density perturbation** in order to generate the GAM. In the radial direction, the density perturbation is set to be a sine function, and its value is set to be zero at the boundaries. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=3&annotation=CUF7ZBSX)

标注：

<mark style="background-color: #a28ae5">Quote</mark>
>The poloidal mode structure of the perturbed density is shown in Fig. 1(d), [jump to](zotero://open-pdf/library/items/22GBY4JG?page=4&annotation=JRNYXV63)

标注：

<mark style="background-color: #a28ae5">Quote</mark>
>In this case, the transit frequency of energetic particles$\omega_{tr,b}\eq v_{\parallel}/(qR)$ is close to $\omega_G$, which makes it easy for energetic particles to induce an EGAM through wave-particle resonance. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=4&annotation=KA8P3LJH)

标注：

<mark style="background-color: #2ea8e5">Quote</mark>
>The critical velocity 𝑣c is a constant associated with the temperature of the thermal electrons. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=4&annotation=6EQZZVNZ)

标注：

<mark style="background-color: #2ea8e5">Quote</mark>
>The time evolution of the perturbed electrostatic potential 𝛿𝜑 is shown in Fig. 2(a), where the 𝑥-axis is normalized with respect to 𝑅0/𝐶s, and the 𝑦-axis is normalized by a maximum of 𝛿𝜑 at 𝑡 = 40𝑅0/𝐶s. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=4&annotation=BNLAXI6B)

标注：

<mark style="background-color: #a28ae5">Quote</mark>
>The mode structure is not affected by energetic particles. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=4&annotation=B6CN9GCQ)

标注：

<mark style="background-color: #2ea8e5">Quote</mark>
>normalized with respect to the maximum value of their own amplitude. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=4&annotation=VPUZYFVZ)

标注：

<mark style="background-color: #a28ae5">Quote</mark>
>however, by taking the frequency and the growth rate of our simulation results as a trial solution, the numerical solution of the dispersion relation is 𝜔 = 0.571𝜔G, and the corresponding growth rate is 𝛾 = 0.214𝜔G. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=5&annotation=LUFK3K4Q)

标注：

<mark style="background-color: #ff6666">Quote</mark>
>The real frequencies of EGAMs are always below the real frequencies of GAMs across a wide range of parameters under the same simulation conditions, with the exception of EPs. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=5&annotation=A9VTNXHH)

标注：with the exception of EPs 参数范围改动不包含高能粒子？

<mark style="background-color: #a28ae5">Quote</mark>
>the discrepancy in the growth rate between the simulations and the theory is due to the fact that the optimal ordering used in the theory is broken at large 𝑍 values, so that the dispersion relation may not be sufficiently accurate. [jump to](zotero://open-pdf/library/items/22GBY4JG?page=5&annotation=GN35WYZP)

标注：



%% end annotations %%

## 3.notes
%% begin undefined %%


%% end undefined %%

%% Import Date: 2024-02-21T16:36:06.160+08:00 %%
